@model NewULCA.Schedules

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">ULCA </h1>
        <p class="lead"> Our Schedules.</p>
    </div>
</div>

<h2>Details</h2>

<div>
    <h4>Schedules</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LengthTimeSpan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LengthTimeSpan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowId)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Sorting)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Channels.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Channels.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduledId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
