@model IEnumerable<NewULCA.Schedules>

@{
    ViewBag.Title = "ScheduleIndex";
}

<h2>ScheduleIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AirDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LengthTimeSpan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Channels.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AirDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LengthTimeSpan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Channels.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScheduledId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScheduledId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScheduledId })
        </td>
    </tr>
}

</table>
