@model IEnumerable<NewULCA.Shows>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">ULCA </h1>
        <p class="lead">Your shows at ULCA Broadcast.</p>
    </div>
</div>
<section>
    <div class="wrapper">
        <blockquote class="blockquote text-center">
            <p class="mb-0"> There is no time, like now.</p>
            <footer class="blockquote-footer">Fredriko Emanero <cite title="Source Title"> Washinton Post</cite></footer>
        </blockquote>
    </div>
</section>



<table class=" table table-sm">
    <tr>
        <th> @Html.ActionLink("Create New", "Create")</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <ul id="showlist" class="list-unstyled mx-auto justify-content-center test">
                <li data-keywords="Sports News Hour" class="media my-8">
                    <img class="mr-3" src="~/images/media.svg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"> > @Html.DisplayFor(modelItem => item.Title)<</h5>
                        <p> Description: @Html.DisplayFor(modelItem => item.Description) </p>
                        <p> Category: @Html.DisplayFor(modelItem => item.Categories.Name)</p>
                        Length: @Html.DisplayFor(modelItem => item.Length) Minutes
                        @Html.ActionLink("Edit", "Edit", new { id = item.SchowId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SchowId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SchowId })

                    </div>
                </li>
            </ul>



        </tr>
    }

</table>

<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/main.js"></script>